<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwapScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SwapScreen.Properties.Settings>
            <setting name="HotKeyValue" serializeAs="String">
                <value>131195</value>
            </setting>
            <setting name="NeedSettingsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrevScreenHotKey" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="MinimiseHotKey" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="MinimiseAllButHotKey" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="MaximiseHotKey" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="SupersizeHotKey" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="RotateNextHotKey" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="ShowDesktop1HotKey" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="ShowDesktop2HotKey" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="RotatePrevHotKey" serializeAs="String">
                <value>32768</value>
            </setting>
        </SwapScreen.Properties.Settings>
    </userSettings>
</configuration>