<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SwapScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SwapScreen.Properties.Settings>
            <setting name="HotKeyValue" serializeAs="String">
                <value>131195</value>
            </setting>
            <setting name="NeedSettingsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrevScreenHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="MinimiseHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="MinimiseAllButHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="MaximiseHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="SupersizeHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="RotateNextHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="ShowDesktop1HotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="ShowDesktop2HotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="RotatePrevHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="FreeCursorHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="StickyCursorHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="LockCursorHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="CursorNextScreenHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="CursorPrevScreenHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="MinStickyForce" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ControlUnhindersCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultCursorType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReduceMemSizeOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrimaryReturnUnhindered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwapTop2HotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="SnapLeftHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="SnapRightHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="SnapUpHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="SnapDownHotKey" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="FreeCursorMovementKey" serializeAs="String">
                <value>162</value>
            </setting>
        </SwapScreen.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
