html, body
{
	border: none;
	margin: 0;
	padding: 0;
	background-color: #DDDDDD;
}

#page
{
	position: relative;
	width: 90%;
	min-width: 750px;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}

#header
{
	position: relative;
	text-align: left;
	border: none;
	margin: 0;
	height: 100px;
	background-color: #DCDCFA;
	border-top:1px solid #3333BB;
	border-left:1px solid #3333BB;
	border-right:1px solid #3333BB;
}

#header-logo
{
	position: absolute;
	left: 25px;
	top: 26px;
	width: 96px;
	height: 48px;
}

#header-title
{
	position: absolute;
	left: 145px;
	top: 0px;
	border: none;
	margin: 0;
}

#body
{
	border: thin solid #3333BB;
	background: url(Images/MenuBgr.png) repeat-y white;
}

#navigation
{
	width: 245px;
	padding-left:10px;
	padding-top:10px;
	float: left;
}

#content
{
	padding-right:10px;
	padding-left:260px;
}

#footer
{
	position: relative;
	color: #3333BB;
	font-size: 8pt;
}

#footer-left
{
	text-align: left;
	float: left;
}

#footer-right
{
	text-align: right;
}

img
{
	border: 0;
}

img.AppLogo
{
	padding-right:10px;
}

.HdrTitleBig
{
	color: #3333BB;
	font-size: 48pt;
	font-weight: bold;
	margin:0;
	padding-top:10px;
}

.HdrTitleSmall
{
	color: #3333BB;
	font-size: 8pt;
	margin:0;
}

.AppTitle
{
	color: #3333BB;
	font-size: 20pt;
	font-weight: bold;
	text-decoration: none;
}

.MenuTop
{
	display:block;
	width:225px;
	height:1px;
	border-bottom:1px solid #3333BB;
}

a.MenuItem, .CurPage
{
	-moz-box-sizing: border-box;
    box-sizing: border-box; 
	
	color: #3333BB;
	background-color: #DCDCFA;
	text-decoration: none;
	text-align: left;
	display:block;
	padding-left:10px;
	width:225px;
	height:1.5em;
	border-bottom:1px solid #3333BB;
	border-left:1px solid #3333BB;
	border-right:1px solid #3333BB;
	line-height:25px;
	overflow:hidden;
	font-weight:bold;
}

.MenuHdr
{
	-moz-box-sizing: border-box;
    box-sizing: border-box; 
	
	color: #DCDCFA;
	background-color: #3333BB;
	text-decoration: none;
	text-align: left;
	display:block;
	padding-left:10px;
	width:225px;
	height:1.5em;
	border-top:1px solid #3333BB;
	border-bottom:1px solid #3333BB;
	border-left:1px solid #3333BB;
	border-right:1px solid #3333BB;
	line-height:25px;
	overflow:hidden;
	font-weight:bold;
}

a.MenuItem:hover
{
	background-color: #FFFFFF;
}

a.MenuItem:active, .CurPage
{
	background-color: #FFFFFF;
}

p.SubHeading
{
	color: #3333BB;
	font-size: 16pt;
	font-weight: bold;
}

p.SubHeading2
{
	color: #3333BB;
	font-size: 12pt;
	font-weight: bold;
}

p.Warning
{
	color:#FF0000;
}

table 
{ 
	border: 2px solid black;
    border-collapse: collapse;
}
th, td 
{ 
	border: 1px solid black;
    border-collapse: collapse;
}
