html, body
{
	border: none;
	margin: 0;
	padding: 0;
}

#page
{
	width: 90%;
	min-width: 775px;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}

#inner
{
	border: thin solid #3333BB;
	background: url(Images/MenuBgr.png) repeat-y white;
}

#navigation
{
	width: 145px;
	padding-left:10px;
	padding-top:10px;
	float: left;
}

#content
{
	padding-right:10px;
	padding-left:160px;
}

#header
{
	text-align: center;
	border: none;
	margin: 0;
	background-color: #DCDCFA;
}

#footer
{
	text-align: right;
	color: #3333BB;
	font-size: 8pt;
}

a.MenuItem, .CurPage
{
	-moz-box-sizing: border-box;
    box-sizing: border-box; 
	
	color: #3333BB;
	background-color: #DCDCFA;
	text-decoration: none;
	text-align: left;
	display:block;
	padding-left:10px;
	width:125px;
	height:1.5em;
	border-bottom:1px solid #3333BB;
	border-left:1px solid #3333BB;
	border-right:1px solid #3333BB;
	line-height:25px;
	overflow:hidden;
	font-weight:bold;
}

.MenuHdr
{
	-moz-box-sizing: border-box;
    box-sizing: border-box; 
	
	color: #DCDCFA;
	background-color: #3333BB;
	text-decoration: none;
	text-align: left;
	display:block;
	padding-left:10px;
	width:125px;
	height:1.5em;
	border-top:1px solid #3333BB;
	border-bottom:1px solid #3333BB;
	border-left:1px solid #3333BB;
	border-right:1px solid #3333BB;
	line-height:25px;
	overflow:hidden;
	font-weight:bold;
}

a.MenuItem:hover
{
	background-color: #FFFFFF;
}

a.MenuItem:active, .CurPage
{
	background-color: #FFFFFF;
}

p.SubHeading
{
	color: #3333BB;
	font-size: 16pt;
	font-weight: bold;
}

p.SubHeading2
{
	color: #3333BB;
	font-size: 12pt;
	font-weight: bold;
}
}
